main{
  margin-left: 70px;
  padding: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header{
display: flex;
flex-direction: column;
align-items: center;
background-color: rgb(236, 68, 68);
padding: 0;
border: 4px solid rgb(146, 30, 30);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 22px;
width: 250px;  
height: 100vh; 
position: fixed;
left: 0;
top: 0;           
}

.links{
  margin-top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.links a {
display: block;
width: 100%;
padding: 5px 20px 12px 20px;
box-sizing: border-box;
overflow: hidden;
float: none;
margin: 5px 0;
border-radius: 0 40px 40px 0;
border: 2px solid grey;
text-decoration: none;
color:rgb(71, 17, 27);
transform-origin: left center;
transition: transform 0.1s ease-in-out;
background-color: whitesmoke;
}

.links a:hover{
    background-color:rgb(188, 230, 120);
color: rgb(255, 255, 255);
transform: scale(1.2);
border: 2px solid rgb(119, 80, 0);
text-shadow: 1px -1px rgb(145, 102, 46),
-1px 1px rgb(145, 102, 46),
-1px -1px rgb(145, 102, 46),
1px 1px rgb(145, 102, 46);
}

.logo img{
  border-radius: 50%;
  border: 4px solid white;
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin-top: 8px;

}

body {
margin-left: 200px;
background: url("https://cdn.quotesgram.com/img/79/65/619189453-tumblr_msq22cYOgW1rs4avvo1_500.gif");
background-repeat: no-repeat;
background-size: cover;
}