body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("https://media1.tenor.com/m/6rs1SiSV-64AAAAC/food-dish.gif") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

html {
  scroll-behavior: smooth;
}

header {
  text-align: center;
  padding: 30px 10px 30px 10px;
  background-color: rgba(228, 139, 139, 0.355);
  border-bottom: 4px dotted  rgba(146, 30, 30, 0.348);
}

.logo img {
  border-radius: 50%;
  border: 4px solid white;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: -0.5px;
}

header h1 {
  font-size: 70px;
  font-weight: 1000;
  color: #fffff1;
  text-shadow: 3px 3px 8px rgba(42, 5, 5, 0.459);
  margin: 10px 0 15px 0;
}
p {
  font-size: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: #6f3d3d;
  margin: auto;
  line-height: 1.5;
}
nav.nav-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
}

.nav-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(71, 17, 27);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 30px 15px;
  border-radius: 20px;
  border: 3px solid rgb(236, 68, 68);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: all 0.25s ease-in-out;
}
.nav-card:hover {
  transform: scale(1.08);
  background-color: rgb(188, 230, 120);
  color: white;
  border-color: rgb(119, 80, 0);
  text-shadow: 1px 1px 3px rgb(119, 80, 0);
}