body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("../assets/indexBackground.gif") center center no-repeat fixed;
  background-size: cover;
  color: white;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Nature_Beauty';
  src: url('../assets/NatureBeautyPersonalUse-9Y2DK.ttf') format('truetype');
}

@font-face {
  font-family: 'Super_Shape';
  src: url('../assets/SuperShape-PV9qE.ttf') format('truetype');
}

header {
  text-align: center;
  margin: 30px 10px 30px 10px
}

.logo img {
  border-radius: 50%;
  border: 4px solid white;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: -0.5px;
}

header h1 {
  font-family: 'Super_Shape';
  width: 95%;
  text-align: center;
  font-size: 143px;
  font-weight: 1000;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 8px rgb(204, 69, 78);
  padding: 15px;
  margin: 5px auto 5px auto;
  animation: float 3.5s ease-in-out infinite;
}


@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

p {
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: #6f3d3d;
  margin: 2px auto 2% auto;
  line-height: 1;
  text-shadow:
    -2px -2px  #ffffff79,
     2px -2px  #ffff,
    -2px  2px  #ffff,
     2px  2px  #ffff;
  animation: colorchange 3s infinite;
}

@keyframes colorchange {
  0%   { color: rgb(107, 129, 26); }
  25%  { color: rgb(201, 189, 15); }
  50%  { color: rgb(164, 93, 27); }
  75%  { color: rgb(149, 42, 42); }
  100% { color: rgb(107, 129, 26); }
}

.dividers{        
    margin: 2px;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

.intro_Creators{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.creator_Text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 50%;            
}

.intro_Creators h2 {
    font-family: 'Nature_Beauty';
    font-size: 50px;
    font-weight: lighter;
    margin: 2px 10px 2px 50px;
    text-shadow: 3px 3px 8px rgb(204, 69, 78);
    }

.intro_Creators h5 {
    line-height: 1.5;
    margin: 2px auto auto 2px;
}

.intro_Creators img{
    width: 400px;
    margin: 20px;
    border-radius: 50%;
    display: block;
    border: 2px white solid;
    flex: 1 1 50%;  
}

nav.nav-grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
  background-color: #fffff157;
  border-radius:50px;
  border: 7px dotted rgba(255, 255, 255, 0.63);
  backdrop-filter: blur(4px);
}

.nav-card {
  text-align: center;
  flex-direction: column;
  width: 250px;
  height: auto;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 211);
  color: rgb(71, 17, 27);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 20px;
  border-radius: 20px;
  border: 3px solid rgba(236, 68, 68, 0.614);
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-in-out;
}

.nav-card:hover {
  transform: scale(1.08);
  background-color: rgb(188, 230, 120);
  color: rgb(255, 244, 220);
  border-color: rgba(119, 79, 0, 0.551);
  text-shadow: 1px 1px 3px rgba(25, 39, 9, 0.911);
}

#about {
  text-align: center;
  padding: 10px;
  margin: 5px auto;
  width: 1300px;
  font-size: 25px;
  background-color: rgba(214, 81, 81, 0.43);
  backdrop-filter: blur(4px);
  border-radius: 50px;
}

.active{
  text-align: center;
  flex-direction: column;
  width: 250px;
  height: auto;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: rgb(191, 235, 255);
  color: rgb(32, 80, 125);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 20px;
  border-radius: 20px;
  border: 3px solid rgba(93, 129, 170, 0.614);
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-in-out;
}

.active:hover {
  color: whitesmoke;
  transform: scale(1.08);
  text-shadow: 1px 1px 3px rgb(14, 51, 86);
}

h4 {
  font-family: 'Nature_Beauty';
  font-weight: lighter;
  text-shadow: 3px 3px 8px rgb(204, 69, 78);
  font-size: 50px;
  letter-spacing: 2px;
  margin: 3px;

}


.Tab {
    text-align: center;
    font-family: 'Nature_Beauty', sans-serif;
    transition: transform 0.3s ease;
}

.Tab:hover {
    transform: scale(1.1);
}

.introduction, .intro_Creators{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 0.4s ease;
    opacity: 0;
}

.introduction.open, .intro_Creators.open {
    max-height: 1000px;
    opacity: 1;
}


.homepage_links a{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 50px;
    font-family: 'Super_Shape';
    font-weight: lighter;
    text-decoration: none;
    text-shadow:
      -2px -2px #ba5b5b,
       2px -2px #ba5b5b,
      -2px  2px #ba5b5b,
       2px  2px #4f6335;
    transition: transform 0.3s ease;
}

.homepage_links a:visited{
text-decoration: none;
    }

.homepage_links a:hover{
transform: scale(1.2) rotate(1.3deg);
    }

footer{
  background-color: rgba(0, 0, 0, 0.404);
  font-size: 10px;
  display: flex;
  justify-content: center;
}